<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link href="assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }
    </style>


</head>

<body class="bg-secondary">
    <main class="container d-flex justify-content-center ">
        <form class="col col-md-7 bg-white p-3 py-5">
            <div class="text-center">
                <h1 class="h1  fw-bold text-primary">Sing up</h1>
            </div>
            <h1 class="h3 mb-3 fw-normal">Create Account</h1><a class="text-decoration-none" href="index.html"> Already
                have account?</a></p>
            <div class="row">
                <div class="col-6">
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control Email">
                        <label for="floatingInput" class="text-dark">Email</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control name">
                        <label for="floatingInput" class="text-dark">Name</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control phone">
                        <label for="floatingInput" class="text-dark">Phone</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control phone">
                        <label for="floatingInput" class="text-dark">Phone</label>
                    </div>
                    <div class="form-floating mb-2">
                        <select id="inputState" class="form-select gender">
                            <option value="male">male</option>
                            <option value="female">female</option>
                        </select>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control ic">
                        <label for="floatingInput" class="text-dark">IC</label>
                    </div>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" class="form-control addres">
                    <label for="floatingInput" class="text-dark">Address</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" class="form-control addres">
                    <label for="floatingInput" class="text-dark">Password</label>
                </div>
            </div>




            <button class="w-100 mt-3 btn-lg btn  btn-dark bg-gardient signup" type="submit">Create Account</button>
            <div class=" text-center d-none loading mt-5">
                <div class="spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </form>
    </main>

    <script src="assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/jquery-3.6.0.min.js"></script>
    <script src="assets/axios.min.js"></script>
    <script>
        $(function () {
            $(document).on('click', '.signup', function (e) {
                e.preventDefault();
                $('.loading').removeClass('d-none');
                $('.signup').addClass('d-none');
                var addres = $('.addres').val()
                var ic = $('.ic').val()
                const data = {
                    'addres': addres,
                    'email': $('.email').val(),
                    'gender': $('.gender').val(),
                    'ic': ic,
                    'name': $('.name').val(),
                    'password': $('.password').val(),
                    'phone': $('.phone').val(),
                }


                if (addres == '') {
                    alert('error addres')
                }
                if (ic == '') {
                    alert('error ic')
                }

                axios
                    .post('http://localhost:8083/customer/register', data)
                    .then(function (response) {

                        if (response.data.payload == null) {
                            alert('Erorr Email')
                        } else {
                            alert('success Create Account to sign')
                            window.location.href = "index.html";
                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                        $('.loading').addClass('d-none');
                        $('.singup').remove('d-none');
                        alert('Erorr reg')
                    });
            });
        });
    </script>

</body>

</html>